In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv(r"D:\Data Analysis Projects\DS_Playlist\datasets\HousingData.csv")
dataset.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [3]:
input_data=dataset.iloc[:,:-1]
input_data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88

In [5]:
output_data=dataset["MEDV"]
output_data

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.25)

In [8]:
x_test

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
380,88.97620,0.0,18.10,0.0,0.671,6.968,91.9,1.4165,24,666,20.2,396.90,17.21
475,6.39312,0.0,18.10,0.0,0.584,6.162,97.4,2.2060,24,666,20.2,302.76,24.10
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN
60,0.14932,25.0,5.13,0.0,0.453,5.741,66.2,7.2254,8,284,19.7,395.11,13.15
289,0.04297,52.5,5.32,0.0,0.405,6.565,22.9,7.3172,6,293,16.6,371.72,9.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,0.08187,0.0,2.89,0.0,0.445,7.820,36.9,3.4952,2,276,18.0,393.53,3.57
210,0.17446,NaN,10.59,1.0,0.489,5.960,92.1,3.8771,4,277,18.6,393.25,17.27
7,0.14455,12.5,7.87,0.0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15
214,0.28955,0.0,10.59,0.0,0.489,5.412,9.8,3.5875,4,277,18.6,348.93,29.55
272,0.11460,20.0,6.96,0.0,0.464,6.538,58.7,3.9175,3,223,18.6,394.96,7.73

In [9]:
x_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
20,1.25179,0.0,8.14,0.0,0.5380,5.570,98.1,3.7979,4,307,21.0,376.57,21.02
504,0.10959,0.0,11.93,0.0,0.5730,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
28,0.77299,0.0,8.14,0.0,0.5380,6.495,94.4,4.4547,4,307,21.0,387.94,12.80
204,0.02009,95.0,2.68,0.0,0.4161,8.034,31.9,5.1180,4,224,14.7,390.55,2.88
62,0.11027,25.0,5.13,0.0,0.4530,6.456,67.8,7.2255,8,284,19.7,396.90,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,0.24103,0.0,7.38,0.0,0.4930,6.083,43.7,5.4159,5,287,19.6,396.90,12.79
4,0.06905,0.0,2.18,0.0,0.4580,7.147,54.2,6.0622,3,222,18.7,396.90,NaN
85,0.05735,0.0,4.49,0.0,0.4490,6.630,56.1,4.4377,3,247,18.5,392.30,6.53
497,0.26838,0.0,9.69,0.0,0.5850,5.794,70.6,2.8927,6,391,19.2,396.90,14.10
34,1.61282,0.0,8.14,0.0,0.5380,6.096,96.9,3.7598,4,307,21.0,248.31,20.34

In [10]:
y_test

380    10.4
475    13.3
501    22.4
60     18.7
289    24.8
       ...
98     43.8
210    21.7
7      27.1
214    23.7
272    24.4
Name: MEDV, Length: 127, dtype: float64

In [11]:
y_test

380    10.4
475    13.3
501    22.4
60     18.7
289    24.8
       ...
98     43.8
210    21.7
7      27.1
214    23.7
272    24.4
Name: MEDV, Length: 127, dtype: float64

In [12]:
dataset.shape

(506, 14)

In [13]:
x_train.shape, x_test.shape

((379, 13), (127, 13))

In [14]:
y_train.shape, y_test.shape

((379,), (127,))